@import "./variables";
@import "./commons";
@import "./menu";
@import "./ripple";
@import "./fab";
@import "./card";


.burger {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  border-radius: 50px;
  width: 56px;
  height: 56px;
  outline: none;

  i {
    vertical-align: middle;
  }
}

#drawer {
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: -$drawer-width;
  max-height: 100vh;

  &.open {
    margin-left: 0;
  }

  .burger {
    display: none;
  }
}

#titles {
  padding: 10px 0;
  flex-grow: 1;

  h1 {
    margin: 5px;
  }

  h4 {
    margin: 5px;
  }
}

@media (max-width: $screen-md) {
  #drawer {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 100;
    transform: translate(-100%, 0);
    background-color: rgba(0,0,0,0.95);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);


    &.open {
      transform: translate(0, 0);
    }

    .burger {
      display: block;
    }
  }
}


@media (max-width: $screen-xs) {

  #titles h1 {
    font-size: 22px;
  }

  #titles h4 {
    font-size: 14px;
  }
}
